section.about#about
  .s-wrap.s-type-1(role="slider")
    input#s-1(type="radio" name="slider-control" checked="checked")
    input#s-2(type="radio" name="slider-control")
    input#s-3(type="radio" name="slider-control")
    ul.s-content
      li.s-item.s-item-1
        .wrap-item
          h3  Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
          p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod  ncidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci ta on ullamcorper suscipit lobor s nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure
          button Czytaj więcej
      li.s-item.s-item-2
        .wrap-item
          h3 Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
          p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod  ncidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci ta on ullamcorper suscipit lobor s nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure
          button Czytaj więcej
      li.s-item.s-item-3
        .wrap-item
          h3 Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
          p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod  ncidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci ta on ullamcorper suscipit lobor s nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure
          button Czytaj więcej
    .s-control
      label.s-c-1(for="s-1")
      label.s-c-2(for="s-2")
      label.s-c-3(for="s-3")
    .s-nav
      label.s-nav-1.right(for="s-2")
      label.s-nav-1.left(for="s-3")
      label.s-nav-2.left(for="s-1")
      label.s-nav-2.right(for="s-3")
      label.s-nav-3.left(for="s-2")
      label.s-nav-3.right(for="s-1")