section.contact#contact
  .bg-bottom
  .wrap-contact
    h2 Masz Pytania? Skontaktuj się z nami!
    .container
      .logo-contact
  .wrap-form
    form(action="", method="post")
      fieldset
        input#name(type="text", name="name", placeholder="Imię")
      fieldset
        input#email(type="text", name="email", placeholder="e-mail")
      fieldset
        textarea#message(name="message", placeholder="Wiadomośc", cols="20", rows="8")
      fieldset
        button(type="submit") Wyślij
