section.footer
  .wrap-footer
    .footer-nav
      include nav
    .footer-content
      p Michał Wiącek <br><br> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima, omnis ipsa repellat doloremque aperiam repudiandae fugit atque
.footer-white 
  p Wszelkie prawa zastrzeżone