mixin nav-content()
  ul
    li: a(href='#home') Home
    li: a(href='#about') O nas
    li: a(href='#gallery') Galeria
    li: a(href='#offer') Oferta
    li: a(href='#contact') Kontakt

nav
  +nav-content()