section.offer
  card
    img(src="/assets/img/Ikona_medal.svg", alt="medal", height="90")
    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis quibusdam, eum minus ab consequuntur animi officiis illum neque odio quae temporibus voluptate omnis ratione modi, voluptas quas rem repudiandae maxime.
  card
    img(src="/assets/img/Ikona_puchar.svg", alt="puchar", height="90")
    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis quibusdam, eum minus ab consequuntur animi officiis illum neque odio quae temporibus voluptate omnis ratione modi, voluptas quas rem repudiandae maxime.