section.testimonials
  .t-wrap.t-type-1(role="slider")
    input#t-1(type="radio" name="slider-control" checked="checked")
    input#t-2(type="radio" name="slider-control")
    input#t-3(type="radio" name="slider-control")
    ul.t-content
      li.t-item.t-item-1
        .wrap-testi
          .testi-img
            img#testi(src="/assets/img/testimonial1.png", alt="testimonial")
          .wrap-testi-text
            h4 Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
            em Jan Kowalski
      li.t-item.t-item-2
        .wrap-testi
          .testi-img
            img#testi(src="/assets/img/testimonial1.png", alt="testimonial")
          .wrap-testi-text
            h4 Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
            em Jan Kowalski
      li.t-item.t-item-3
        .wrap-testi
          .testi-img
            img#testi(src="/assets/img/testimonial1.png", alt="testimonial")
          .wrap-testi-text
            h4 Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
            em Jan Kowalski